<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deleteBoard</title>
    <link th:href="@{/css/table_css.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<form action="/boardPage/boardDelete" method="post">
    <table>
    <input name="boardNum" hidden="hidden" th:value="${board.boardNum}">
        <tr>
            <td align="left">제목 : <input name="boardTitle" th:value="${board.boardTitle}"></td>
        </tr>
        <tr>
            <td align="left">내용 : <br>
                <textarea rows="3" cols="50" name="boardContent">[[${board.boardContent}]]</textarea></td>
        </tr>
        <tr>
            <td align="left">작성자 : <input name="boardWriter" th:value="${board.boardWriter}"></td>
        </tr>
    </table>
<br>
<div align="center">
    <button type="submit" class="btn btn-info">확인</button>
    <a th:href="@{/boardPage/boardList}">
        <button type="button" class="btn btn-info">목록보기</button></a>
</div>
</form>
</body>
</html>