<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>selectUser</title>
  <link th:href="@{/css/table_css.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<table>
  <div class="tableDc">
    <tr>
      <td align="left">ID : [[${user.userId}]]</td>
    </tr>
    <tr>
      <td align="left">이름 : [[${user.userName}]]</td>
    </tr>
    <tr>
      <td align="left">이메일 : [[${user.userEmail}]]</td>
    </tr>
  </div>
</table>
<br>
<div align="center">
  <a th:href="@{/userInfo}">
    <button type="button" class="btn btn-info">회원목록</button></a>
</div>
</body>
</html>