<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.board.mapper.UserMapper">

    <select id="selectUser" resultType="com.project.board.dto.UserDto">
        SELECT *
        FROM user_table
    </select>

    <select id="userNum" resultType="com.project.board.dto.UserDto">
        SELECT *
        FROM user_table
        WHERE user_num = #{userNum}
    </select>

    <select id="loginInfo" resultType="com.project.board.dto.UserDto">
        SELECT user_num, user_id, user_pwd, user_name
        FROM user_table
        WHERE user_id = #{userId} AND user_pwd = #{userPwd}
    </select>

    <insert id="insertUser" parameterType="com.project.board.dto.UserDto">
        INSERT INTO
        user_table (user_id, user_pwd, user_name, user_email)
        VALUES
        (#{userId}, #{userPwd}, #{userName}, #{userEmail})
    </insert>

    <update id="updateUser" parameterType="com.project.board.dto.UserDto">
        UPDATE user_table
        SET user_pwd = #{userPwd}
        , user_email = #{userEmail}
        WHERE user_num = #{userNum}
    </update>

    <delete id="deleteUser">
        DELETE FROM user_table
        WHERE user_num = #{userNum}
    </delete>

</mapper>